<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <title>Home</title>
</head>
<body>
    <nav>
        <div>
            <div class="itens">
                <button class="itemOne">Vestibular</button>
                <button class="itemTwo">Secretaria</button>
                <button class="itemThree">Unidades</button>
                <button class="itemFour"><a href="{{url_for('login')}}">Acessar</a></button> 
            </div>



         <div class="boxMenu">
            <input type="checkbox" id="check">
          <div class="menuIcon">       
            <label for="check">
              <img src="{{url_for('static', filename='imgs/icon_menu.svg')}}">
            </label> 
          </div>

          <nav class="sidebarMenu">     
            <img class="logo" src="{{url_for('static', filename='imgs/logo.svg')}}">
           <ul>
              <li>
                  <a class="home" href="#">Home</a>
              </li>
              <li>
                  <a class="funcionalidades" href="#">Funcionalidades</a>
              </li>
              <li>
                  <a class="noticias" href="#">Noticias</a>
              </li>
              <li>
                  <a class="eventos" href="#">Eventos</a>
              </li>
              <li>
                  <a class="empresas" href="#">Para Empresas</a>
              </li>
              <li>
                  <a class="logout" href="#">Fazer Logout</a>
              </li>

              <hr>
              <div class="langs">
                <button><a  language="portuguese" class="active">PT</a></button>
                <button><a  language="english">ENG</a></button>
              </div> 
              <hr>
              
              <div class="close">
                <label for="check">
                   <img src="{{url_for('static', filename='imgs/icon_Exit.svg')}}">
                </label>
               </div>
              
             </ul>
             
           </nav>
          </div>
        </div>
    </nav>

    <div class="sectionBackground">
        <img src="{{url_for('static', filename='imgs/background.svg')}}" class="background">
        <img src="{{url_for('static', filename='imgs/logo.svg')}}" class="logoBackground">
        <h1 class="lumina">Instituto Lumina</h1>
    </div>

    <br>
    <br> 
    <div class="about">
        <h1 class="abouth1">Sobre Nós</h1>
        <h2 class="abouth2">Sobre Nós</h2>
        <h3 class="abouth3">Somos um facilitador</h3>
        <p class="aboutp">O Instituto Lumina
            oferece cursos modernos nas áreas de programação, cibersegurança, 
            e desenvolvimento de software. Contamos com docentes especializados e 
            laboratórios de última geração. Nosso foco é proporcionar uma educação prática e 
            alinhada às demandas do mercado. Venha fazer parte do futuro da tecnologia!</p>
            <img class="students"  src="{{url_for('static', filename='imgs/Students.svg')}}"> 
    </div>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="sectionContato">
        <div>
          <h1 class="contatoh1">Contato</h1>
          <h2 class="contatoh2">Contato</h2>
          <p class="contatop1">Se estiver com alguma duvida ou interesse comercial não </p>
          <p class="p2">hesite em nos contatar.</p>
        </div>
        <br>
        <div>
            <label class="labelName" for="name">Nome:</label>
            <input class="inputName" type="text" id="name">
            <br>
            <br>
            <br>
            <label class="labelEmail" for="email">Email:</label>
            <input class="inputEmail" type="email" id="email">
            <br>
            <br>
            <br>
            <label class="labelAssunto" for="assunto">Assunto:</label>
            <input class="inputAssunto" type="text" id="assunto" >
            <br>
            <br>
            <br>
            <label class="labelMensagem" for="mensagem">Mensagem:</label>
            <input class="inputMensagem" type="text" id="mensagem">
            <br>
            <br>
            <br>
            <button class="enviar">Enviar</button>
        </div>
    </div>
    

    

    <footer>
        <div>
          <img src="{{url_for('static', filename='imgs/logo.svg')}}"></img>
        </div>
        <div class="footerList">
              <h3 class="footerh3">Quer Saber Mais ?</h3>
              <p class="footerp1" href="#">Quem Somos</p>
              <p class="footerp2" href="#">Contato</p>
              <p class="footerp3" href="#">Empresas Afiliadas</p>
              <p class="footerp4" href="#">Politica de Privacidade</p>        
        </div>
        <div class="footerIcons">
            
            <div>
                <h3 class="redes">Nossas Redes</h3>
              <img src="{{url_for('static', filename='imgs/Icon_Facebook.svg')}}" class="facebook"></img>
              <img src="{{url_for('static', filename='imgs/Icon_Whatsapp.svg')}}" class="whatsapp"></img>
            </div>
            <div>
               <img src="{{url_for('static', filename='imgs/Icon_Instagram.svg')}}" class="instagram" ></img>
               <img src="{{url_for('static', filename='imgs/Icon_Youtube.svg')}}" class="youtube"></img>
            </div>
            <div>
                <h2 class="telefone">Telefone</h2>
                <p>(XX) - XXXXX - XXXX</p>
                <img src="{{url_for('static', filename='imgs/Icon_telephone.svg')}}" class="telephone" ></img>
                <h1 class="copyright">© 2024 Instituto Lumina, Inc</h1>
            </div>
        
        </div>
    </footer>
</body>
<script src="{{url_for('static', filename='js/home.js')}}"></script>
</html>