<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <title>Login</title>
</head>
<body>

<div class="orange">
    <img src="{{url_for('static', filename='imgs/logo.svg')}}" class="logo">
    <h1 class="h1">Instituto Lumina</h1>
</div>


    <form>
        <h1 class="login">Faça o Login Para Continuar</h1>
        <br>
        <br>
        <div>
           <label for="usuario" >   
              <img class="user" src="{{url_for('static', filename='imgs/Icon_User.svg')}}">   
          </label>
          <input type="usuario" id="usuario" placeholder="Identificação XXXXXX">    
        </div>
        <br>
        <div>
           <label for="senha">
               <img class="lock" src="{{url_for('static', filename='imgs/Icon_Lock.svg')}}">
               <input  type="password" id="senha" placeholder="Senha">
            </label>
        </div>
        <br>
        <br>

        <button class="entrar"><a>ENTRAR</a></button>
        <br>
        <br>
        
        <p class="p1">Fazer Cadastro</p>
        <p class="p2">Esqueceu a Identificação?</p>
        <p class="p3">Esqueceu a senha?</p>
    </form>
</div>

<div class="langs">
    <button class="pt"><a href="#" language="portuguese" class="active">PT</a></button>
    <button ><a href="#" language="english">ENG</a></button>
</div>

</body>

<script src="{{url_for('static', filename='js/login.js')}}"></script>
</html>


