<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <title>Login</title>
</head>
<body>

<div class="orange">
    <img src="{{url_for('static', filename='imgs/logo.svg')}}" class="logo">
    <h1 class="h1">Instituto Lumina</h1>
</div>


    <form>
        <h1 class="login">Faça o Login Para Continuar</h1>
        <br>
        <br>
        <div>
           <label class="labelUsuario"for="usuario">Usuario:</label>  
           <img class="user" src="{{url_for('static', filename='imgs/Icon_User.svg')}}">   
           <input class="inputUsuario"   type="usuario" id="usuario">    
        </div>
        <br>
        <div>
           <label class="labelSenha" for="senha">Senha:</label>
               <img class="lock" src="{{url_for('static', filename='imgs/Icon_Lock.svg')}}">
               <input type="password" id="senha">
        </div>
        <br>
        <br>

            <button href="{{url_for('sistema')}}" class="entrar"><a href="{{url_for('sistema')}}">ENTRAR</a></button>
        </a>
        <br>
        <br>
        
        <p class="p1">Fazer Cadastro</p>
        <p class="p2">Esqueceu o Usuario?</p>
        <p class="p3">Esqueceu a Senha?</p>
    </form>
</div>

<div class="langs">
    <button class="pt"><a language="portuguese" class="active">PT</a></button>
    <button ><a language="english">EN</a></button>
</div>

</body>

<script src="{{url_for('static', filename='js/login.js')}}"></script>
</html>


