<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sistema.css')}}">
    <title>Sistema</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{{url_for('static', filename='imgs/logo.svg')}}">   
        </div>
     
        <div class="langs">
            <button><a href="#" language="portuguese" class="active">PT</a></button>
            <button><a href="#" language="english" class="english">EN</a></button>
        </div> 
    </nav>


    <div class="sidebarMenu">
        <br>
       <ul>
          <li>
              <img src="{{url_for('static', filename='imgs/Icon_Home.svg')}}">
              <a class="inicio" href="Login.html">INICIO</a>
          </li>
          <li>
              <img src="{{url_for('static', filename='imgs/Icon_Key.svg')}}">
              <a class="acesso" href="Perfil.html">SOLICITAR ACESSO</a>
          </li>
          <li>
              <img src="{{url_for('static', filename='imgs/Icon_Lock(2).svg')}}">
              <a class="senha" href="#">ALTERAR SENHA</a>
          </li>
          <li>
              <img class="email" src="{{url_for('static', filename='imgs/Icon_Email.svg')}}">
              <a class="alterarEmail" href="#">ALTERAR EMAIL</a>
          </li>
          <li>
             <img src="{{url_for('static', filename='imgs/Icon_handshake.svg')}}">
              <a class="faleconosco" href="#">FALE CONOSCO</a>
          </li>                         
         </ul>
         
         
    </div>
    <div class="cards">      
        <div class="cardOne">
            <div class="sistema">
                <img class="elipseOne" src="{{url_for('static', filename='imgs/Ellipse.svg')}}">
                <img class="iconOne" src="{{url_for('static', filename='imgs/Frame.svg')}}">
                <p class="graduacao">SISTEMA DE GRADUAÇÃO</p>
             </div>                   
        </div>

        <div class="cardTwo">
            <div class="sistema">
                <img class="elipseTwo" src="{{url_for('static', filename='imgs/Ellipse.svg')}}">
                <img class="iconTwo" src="{{url_for('static', filename='imgs/Vector.svg')}}">
                <p class="p2">SISTEMA DOCENTE</p>
             </div>                  
        </div>
    <div>

        
</body>
     <script src="{{url_for('static', filename='js/sistema.js')}}"></script>
</html>