<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/aluno.css')}}">
    <title>Painel do Aluno</title>
</head>
<body>
    <nav>
        <div class="logo">
           <img src="{{url_for('static', filename='imgs/logo.svg')}}">   
        </div>
       
         <div class="langs">
           <button><a href="#" language="portuguese" class="active">PT</a></button>
           <button><a href="#" language="english" class="english">EN</a></button>
        </div>  
    </nav>

    


    <div class="sidebarMenu">
        <br>
       <ul>
          <li>
              <img src="{{url_for('static', filename='imgs/Icon_Data.svg')}}">
              <a class="dados" href="Login.html">MEUS DADOS</a>
          </li>
          <li>
              <img src="{{url_for('static', filename='imgs/Icon_Lupa.svg')}}">
              <a class="consultas" href="Perfil.html">CONSULTAS</a>
          </li>
          <li>
              <img src="{{url_for('static', filename='imgs/Icon_Email.svg')}}">
              <a class="mensagens" href="#">MENSAGENS</a>
          </li>
          <li>
              <img class="email" src="{{url_for('static', filename='imgs/Icon_user.svg')}}">
              <a class="alterar" href="#">ALTERAR PERFIL</a>
          </li>
          <li>
             <img src="{{url_for('static', filename='imgs/Icon_Building.svg')}}">
              <a class="retomar" href="{{url_for('home')}}">RETOMAR A LANDINPAGE</a>
          </li>
          <li>
            <img src="{{url_for('static', filename='imgs/Icon_Logout.svg')}}">
             <a class="logout" href="{{url_for('login')}}">FAZER LOGOUT</a>
         </li>                           
         </ul>
    </div>

    <div class="aluno">
        <h3 class="bemvindo">Bem Vindo!!</h3>
        <div>
            <p class="ola">Olá Usuário</p>
        </div>
        <p class="frase">Você está conectado no módulo Sistema de graduação</p>
    </div>

</body>
    <script src="{{url_for('static', filename='js/aluno.js')}}"></script>
</html>