@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



body{
    font-family: "Work Sans", sans-serif;
}

nav{
    width: 1289px;
    height: 100px;
    background-color: #EC7000;
    border-bottom: 2px solid #003399;
    margin-top: 90px;
    margin-left: -17px;
}

.logo img{
    width: 280px;
    height: 75px;
    padding-top: 10px;
    padding-left: 17px;
}

.langs{
    background: #ffffff;
    text-align: center;
    border-radius: 10px;
    margin-left: 950px;  
    margin-top: -65px;
    padding: 20px;
    width: 100px;
}

.langs button{
    width: 40px;
    height: 25px;
    margin-left: -1px;
    border-radius: 10px;
    border: 1px solid #EC7000

}


.langs a{
    color: #EC7000;
    font-weight: bold;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 3px;
}


.langs .english{
    margin-left: -1px;
}


.logo img{
    width: 280px;
    height: 75px;
    margin-top: -90px;
    margin-left: 0px;
}

.sidebarMenu{
    width: 250px;
    height: 487px;
    border-right: 2px solid #003399;
    margin-top: px;
}

li{
    text-decoration: none;
    list-style-type: none;
    margin-left: -35px; 
}



li a{
    font-size: 16px;
    width: 215px;
    margin-left: 40px;
    text-decoration: none;
    color:#003399 
}

li a:hover{
    text-decoration: underline;
}


img{
    margin-top:40px ;
    width: 30PX;
    display: flex;
    flex: row wrap;
}

a{
    margin-top: -23.5px;
    margin-left: 35px;
    display: flex;
    flex: row wrap;
}

.aluno{
    margin-left: 450px;
    margin-top: -400px;
}

h3{
    font-weight:normal;
}

.aluno div{
    background-color: #f0bc8f;
    padding: 10px;
}

div p{
    margin-left: 20px;
    color: #003399;
}

.aluno div p{
    color: #003399;
}