@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');





body{
    font-family: "Work Sans", sans-serif;
    font-style: oblique;
    background-repeat:linear-gradient(90deg, rgb(242, 160, 196) ,rgb(255, 255, 255),rgb(242, 160, 196));
}


nav{
    font-family: "Work Sans", sans-serif;
    width: 1265px;
    height: 105px;
    background-color: #EC7000;
    margin-top:-10px ;
    margin-left: -10px;
    font-style: oblique;
}



.itens p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.itemOne{
    margin-left: 250px;
    font-size: 30px;
    background-color: #EC7000;
    color: #ffffff;
    position: absolute;
    border: none;
    width: 200px;
    margin-top: 30px;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

.itemOne:hover{
    background-color: #ffffff;
    color: #e8944b;
    height: 105px;
    margin-top: -5px;

}

.itemTwo{
    margin-left: 500px;
    margin-top: 30px;
    font-size: 30px;
    background-color: #EC7000;
    color: #ffffff;
    border: none;
    position: absolute;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

.itemTwo:hover{
    background-color: #ffffff;
    color: #e8944b;
    height: 105px;
    margin-top: -5px;

}

.itemThree{
    margin-left: 750px;
    margin-top: 30px;
    font-size: 30px;
    background-color: #EC7000;
    color: #ffffff;
    border: none;
    position: absolute;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

.itemThree:hover{
    background-color: #ffffff;
    color: #e8944b;
    height: 105px;
    margin-top: -5px;

}



.itemFour{
    width: 130px;
    height: 80px;
    margin-top: 10px;
    margin-left: 1050px;
    position: absolute;
    background-color: #f8f8f8;
    color: #EC7000;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-family: "Work Sans", sans-serif;
    font-weight: bold;
}

.itemFour:hover{
    background-color: #e8944b;
    color: #f8f8f8;
}




.navHorizontal div{
    margin-left: 150px;
    font-size: 20px;
}
   




.boxMenu{
    position: fixed;
    z-index: 2  
}

.navbar{
    background-color: #D926D9;
    height: 100px;
    border-bottom: 1px solid black;
}

.inputNavbar{
    width: 350px;
    height: 30px;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 125px;
    border: 2px solid #ffffff;
    background-color: #F2F2F2;
    opacity: 0.50;
    
}

::placeholder{
    color: #848484;
    font-weight: bold;
}


.magnifyingGlass{
    width: 20px;
    height: 20px;
    margin-left: 620px;
    margin-top: -25px;
    display: flex;
    flex: row wrap;
}

.photo{
    width: 70px;
    height: 70px;
    margin-left: 1080px;
    margin-top: -50px;
    border-radius: 10px;
    cursor: pointer;
}

.sidebarMenu{
    background-image:linear-gradient(#EC7000,#d4d1db);
    margin-top: -30px;
    width: 250px;
    left: -250px;
    height: 620px;
    position: absolute;
    border-radius: 10px;
    transition: all 0.3s linear;
    
}

label{
    padding: 15px;
    position: absolute;
    cursor: pointer;
}

label img{
    width: 50px;
    height: 50px;
}

input[type="checkbox"]
{
    display: none;
}


.menuIcon{
    margin-top: 15px;
    margin-left: 30px;
}

.menuIcon label{
    background-color: #EC7000;
    border-radius: 5px;
}

.sidebarMenu .logo{
    width: 80px;
    height: 80px;
    margin-top: 45px;
}

.sidebarMenu img{
     margin-top: -500px;
     width: 60px;
     margin-left: 40px;
}

.sidebarMenu button{
    margin-top: 10px;
    margin-left: 25px;
    width: 50px;
    height: 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color:#EC7000
}

hr{
    width: 220px;
    margin-left: -15px;
    background-image: #000000;
}


li{
    text-decoration: none;
    list-style-type: none;
    
}

ul{
    top:120px;
    position:absolute;
    text-decoration: none;
    
}



li a{
    font-size: 16px;
    display: block;
    padding: 10px;
    width: 215px;
    text-decoration: none;
    color: #000000;
    
}

label h1{
    color: #000000;
    position: relative;
}

li a:hover{
    background-color: #f3a12e;
    color: white;
    width: 190px;
}
#check:checked ~ .sidebarMenu{
    left: 0;
}

.close{
    margin-left: 90px;
    margin-top: 60px;
}

.background{
    width: 1355px;
    margin-left: -100px;
    margin-top: -10px;
    height: 500px;
}

.logoBackground{
    margin-top: -470px;
    width: 400px;
    margin-left: 420px;
    position: absolute;
}   

.sectionBackground h1{
    margin-top: -100px;
    margin-left: 420px;
    color: #ffffff;
    font-size: 50px;

}


.about h1{
    color: #033399;
    font-size: 50px;
    margin-left: 285px;
    margin-top: 30px;
    opacity: 0.15;
    font-style: oblique;
}

.about h2{
    color: #EC7000;
    font-size: 50px;
    margin-left: 300px;
    margin-top: -85px;
    font-style: oblique;
}

.about h3{
    font-weight: bold;
    font-style: oblique;
    margin-left: 650px;
    font-size: 28px;
    margin-top: -20px;
}

.about p{
    margin-left: 490px;
    font-weight: bold;
    font-style: oblique;
    padding: 0 170px;
}

.about img{
    width: 350px;
    height: 350px;
    margin-top: -260px;
    margin-left: 250px;
    position: absolute;
}


.funcionalidades h1{
    color: #033399;
    font-size: 50px;
    margin-left: 285px;
    margin-top: 30px;
    opacity: 0.15;
    font-style: oblique;
}

.funcionalidades h2{
    color: #EC7000;
    font-size: 50px;
    margin-left: 300px;
    margin-top: -85px;
    font-style: oblique;
}




.sectionContato h1{
    color: #033399;
    font-size: 50px;
    margin-left: 285px;
    margin-top: 30px;
    opacity: 0.15;
    font-style: oblique;
}

.sectionContato h2{
    color: #EC7000;
    font-size: 50px;
    margin-left: 300px;
    margin-top: -85px;
    font-style: oblique;
}

.sectionContato p{
   font-weight: bold;
   font-style: oblique;
   margin-left: 300px;
   font-size: 23px;
}

.sectionContato .p2{
    font-weight: bold;
    font-style: oblique;
    margin-left: 450px;
    font-size: 23px;
    margin-top: -20px;
}

.labelName{
    margin-left: 320px;
    margin-top: -35px;
    color: #000000;
    font-weight: bold;
    font-style: oblique;
}


.inputName{
    border: 2px solid #002162;
    border-radius: 5px;
    width: 500px;
    height: 27px;
    margin-left: 360px;
}


.labelEmail{
    margin-left: 320px;
    margin-top: -35px;
    color: #000000;
    font-weight: bold;
    font-style: oblique;
}

.inputEmail{
    border: 2px solid #002162;
    border-radius: 5px;
    width: 500px;
    height: 27px;
    margin-left: 360px;
}



.labelAssunto{
    margin-left: 320px;
    margin-top: -35px;
    color: #000000;
    font-weight: bold;
    font-style: oblique;
}

.inputAssunto{
    border: 2px solid #002162;
    border-radius: 5px;
    width: 500px;
    height: 27px;
    margin-left: 360px;
}


.labelMensagem{
    margin-left: 320px;
    margin-top: -35px;
    color: #000000;
    font-weight: bold;
    font-style: oblique;
}

.inputMensagem{
    border: 2px solid #002162;
    border-radius: 5px;
    width: 500px;
    height: 100px;
    margin-left: 360px;
}

.sectionContato button{
    background-color: #EC7000;
    color: #ffffff;
    cursor: pointer;
    width: 450px;
    height: 35px;
    border:none;
    border-radius: 10px;
    margin-left: 390px;
    font-weight: bold;
    font-style: oblique;
}



footer{
    background-color: #EC7000;
    margin-left: -10px;
    margin-top: 50px;
    height: 250px;
    width: 1265px;
    position: absolute;
}

footer img{
    width: 130px;
    margin-top: 80px;
    margin-left: 90px;
}


.footerList{
    margin-left: 350px;
    margin-top: -175px;
    color: #ffffff;
}

.footerList h3 {
    margin-left: -10px;
    color: #ffffff;
}

.footerList p:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footerIcons h3{
    margin-left: 700px;
    margin-top: -185px;
    color: #ffffff;
    padding-bottom: 10px;
}

.facebook{
    width: 50px;
    margin-left: 700px;
    margin-top: -12px;
    cursor: pointer;
}

.whatsapp{
    width: 50px;
    margin-left: 15px;
    margin-top: -25px;
    cursor: pointer;
}

.instagram{
    width: 50px;
    margin-left: 700px;
    margin-top: 25px;
    cursor: pointer;
}

.youtube{
    width: 50px;
    margin-left: 15px;
    margin-top: -10px;
    cursor: pointer;
}

.footerIcons h2{
    margin-left: 920px;
    margin-top: -170px;
    font-size: 20px;
    color: #ffffff;
    position: absolute;
}

.telephone{
    width: 60px;
    margin-left: 920px;
    margin-top: -135px;
    position: absolute;
}

.footerIcons p{
    color: #ffffff;
    margin-top: -120px;
    margin-left: 990px;
    font-size: 20px;
    position: absolute;
}

.copyright{
    color: #ffffff;
    margin-top: 10px;
    font-size: 15px;
    margin-left: 1030px;
    position: absolute;
}