@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



body{
    font-family: "Inter", sans-serif;
}

.logo{
    width: 300px;
    margin-top: 180px;
    margin-left: 150px;
}



.orange{
    background-color: #EC7000;
    width: 600px;
    height: 635px;
    margin-top: -50px;
    margin-left: -50px;
}

.orange h1{
    font-size: 40px;
    margin-left: 140px;
    margin-top: -5px;
    color: #ffffff;
}

form{
    width: 350px;
    border-radius: 15px;
    border: 2px solid  #003399;
    background-color: #ffffff;
    margin-left: 750px;
    margin-top: -500px;
    height: 389px;
}

form h1{
   font-size: 20px;
   margin-left: 50px;
}

.labelUsuario{
    font-size: 15px;
    margin-top: -25px;
    margin-left: 50px;
    position: absolute;
}

.inputSenha{
    margin-top: 70px;
}

.user{
    margin-left: 33px;
    width: 17px;
}

.lock{
    margin-left: 35px;
    margin-top: 10px;
    width: 17px;
}


.labelSenha{
    font-size: 15px;
    margin-top: -15px;
    margin-left: 50px;
    position: absolute;
}


form input{
    border-top: none;
    border-left: none;
    border-right:none;
    border-bottom: 2px solid #003399;
    background-color: transparent;
    width: 250px;
    height: 30px;
    outline: none;
    margin-top: -30px;
    margin-left: 55px;
    display: flex;
    flex: row wrap;
}

input::placeholder{
    padding-left: 50px;
    padding-bottom: -10px;
}

button{
    background-color: #003399;
    color:#FFFF00;
    margin-top: -30px;
    margin-left: 50px;
    font-size: 25px;
    width: 265px;
    border: none;
    cursor: pointer;
}

.entrar:hover{
    color: rgb(70, 98, 240);
    letter-spacing: 2px;
    transition: ease 1s;
}

form p{
    color: #003399;
    margin-left: 50px;
}

form p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.langs{
    background: #ffffff;
    text-align: center;
    margin-left: 935px;  
    margin-top: -144px;
    width: 150px;
}

.langs button{
    width: 130px;
    height: 25px;
    margin-left: -1px;
    background-color: #003399;
}


.langs button a:hover{
    color: rgb(70, 98, 240);
    letter-spacing: 2px;
    transform: scale(1.2);
    transition: ease 1s;
}

.langs a{
    color: #FFFF00;
    font-weight: bold;
    text-decoration: none;
    margin-top: -15px;
    font-size: 15px;
}

.active{
    margin-top: -10px;
}


.langs .pt{
    margin-left: -150px;
}

.p1 {
    margin-left: 120px;
}

.p2 {
    margin-left: 90px;
}

.p3 {
    margin-left: 120px;
}



